<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <h1 class="ui huge header"><%= blog.title %></h1>
    <div class="ui top attached">
        <div clas="item">
            <img class="ui centered rounded image" src= "<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
        </div>
        <div class="description">
            <p><%= blog.body %> 
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %> 
